<section class="content-header">
    <h1>
        {{'settings.mailbox.title' | translate | capitalize}}
    </h1>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class=""><a href="#mainSettings" data-toggle="tab" aria-expanded="true">{{'settings.main.title' | translate | capitalize}}</a></li>
            <li class="active"><a href="#mailboxSettings" data-toggle="tab" aria-expanded="false">{{'settings.mailbox.title' | translate | capitalize}}</a></li>
            <li class=""><a href="#sessionSettings" data-toggle="tab" aria-expanded="false">{{'settings.sessions.title' | translate | capitalize}}</a></li>
        </ul>
        <div class="tab-content">
            <b>{{'common.hello' | translate | capitalize}} {{user.firstName}} {{user.lastName}}!</b>
            <p>{{'settings.mailbox.explanation' | translate}}</p>
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.mailbox.list.title' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>{{'settings.mailbox.list.address' | translate}}</th>
                                        <th>{{'settings.mailbox.list.smtpToken' | translate}}</th>
                                        <th>{{'settings.mailbox.list.transferable' | translate}}</th>
                                        <th>{{'settings.mailbox.list.transferToken' | translate}}</th>
                                        <th>{{'settings.mailbox.list.admins' | translate}}
                                        <th>{{'settings.mailbox.list.actions' | translate}}</th>
                                    </tr>
                                    <tr ng-repeat="mailbox in mailboxes">
                                        <td>{{mailbox.address}}</td>
                                        <td class="secret">{{mailbox.smtpToken}}</td>
                                        <td ng-if="mailbox.transferable">{{'common.yes' | translate | capitalize}}</td>
                                        <td ng-if="!mailbox.transferable">{{'common.no' | translate | capitalize}}</td>
                                        <td class="secret">{{mailbox.transferCode}}</td>
                                        <td>{{mailbox.admins.length}}</td>
                                        <td><li class="fa fa-eye pointer" ng-click="viewMailbox(mailbox._id)"></li></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.mailbox.code.title' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body">
                            <p>{{'settings.mailbox.code.description' | translate | capitalize}}</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                <input type="text" class="form-control" placeholder="{{'settings.mailbox.code.placeholder' | translate | capitalize}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger btn-flat" type="button">{{'settings.mailbox.code.submit' | translate}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="box box-danger" ng-show="showMailboxCreateForm">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.mailbox.createMailbox.title' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body">
                            <form role="form" ng-submit="createMailbox()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="localAddress" ng-model="localAddress" placeholder="{{'settings.mailbox.createMailbox.placeholder' | translate}}" />
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label>@</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="mailboxDomain">
                                                <option value="">{{'settings.mailbox.createMailbox.select' | translate}}</option>
                                                <option ng-repeat="domain in domains" value="{{domain._id}}">{{domain.domain}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger btn-block">{{'settings.mailbox.createMailbox.submit' | translate}}</button>
                            </form>
                        </div>
                    </div>
                    <div class="box box-danger" ng-show="showDomainCreateForm">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.mailbox.createDomain.title' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body">
                            <form role="form" ng-submit="createDomain()">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="domain" ng-model="domain" placeholder="{{'settings.mailbox.createDomain.placeholder' | translate}}" />
                                </div>
                                <button type="submit" class="btn btn-danger btn-block">{{'settings.mailbox.createDomain.submit' | translate}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{viewingMailbox.address}}</h4>
            </div>
            <div class="modal-body">
                {{viewingMailbox}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
