<section class="content-header">
    <h1>
        {{'settings.mailbox.title' | translate | capitalize}}
    </h1>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class=""><a href="#mainSettings" data-toggle="tab" aria-expanded="true">{{'settings.main.title' | translate | capitalize}}</a></li>
            <li class="active"><a href="#mailboxSettings" data-toggle="tab" aria-expanded="false">{{'settings.mailbox.title' | translate | capitalize}}</a></li>
            <li class=""><a href="#sessionSettings" data-toggle="tab" aria-expanded="false">{{'settings.sessions.title' | translate | capitalize}}</a></li>
        </ul>
        <div class="tab-content">
            <b>{{'common.hello' | translate | capitalize}} {{user.firstName}} {{user.lastName}}!</b>
            <p>{{'settings.mailbox.explanation' | translate}}</p>
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.mailbox.list.title' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>{{'settings.mailbox.list.address' | translate}}</th>
                                        <th>{{'settings.mailbox.list.smtpToken' | translate}}</th>
                                        <th>{{'settings.mailbox.list.transferable' | translate}}</th>
                                        <th>{{'settings.mailbox.list.transferToken' | translate}}</th>
                                        <th>{{'settings.mailbox.list.admins' | translate}}
                                        <th>{{'settings.mailbox.list.actions' | translate}}</th>
                                    </tr>
                                    <tr ng-repeat="mailbox in mailboxes">
                                        <td>{{mailbox.address}}</td>
                                        <td></td>
                                        <td>{{mailbox.transferable}}</td>
                                        <td><input type="checkbox" ng-change="toggleCode(mailbox._id)" ng-model="blurCode[mailbox._id]"></input> <span ng-class="{'blur': blurCode.indexOf(mailbox._id) != -1}">{{mailbox.transferCode}}<span></td>
                                        <td>{{mailbox.admins.length}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.mailbox.boxTitle' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>{{'settings.mailbox.tableTitles.address' | translate}}</th>
                                        <th>{{'settings.mailbox.tableTitles.smtpToken' | translate}}</th>
                                        <th>{{'settings.mailbox.tableTitles.transferable' | translate}}</th>
                                        <th>{{'settings.mailbox.tableTitles.transferToken' | translate}}</th>
                                        <th>{{'settings.mailbox.tableTitles.actions' | translate}}</th>
                                    </tr>
                                    <tr ng-repeat="session in sessions">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
