<section class="content-header">
    <h1>
        {{'settings.main.title' | translate | capitalize}}
    </h1>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#mainSettings" data-toggle="tab" aria-expanded="true">{{'settings.main.title' | translate | capitalize}}</a></li>
            <li class=""><a href="#mailboxSettings" data-toggle="tab" aria-expanded="false">{{'settings.mailbox.title' | translate | capitalize}}</a></li>
            <li class=""><a href="#sessionSettings" data-toggle="tab" aria-expanded="false">{{'settings.sessions.title' | translate | capitalize}}</a></li>
        </ul>
        <div class="tab-content">
            <b>{{'common.hello' | translate | capitalize}} {{user.firstName}} {{user.lastName}}!</b>
            <p>{{'settings.main.message' | translate}}</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{'settings.main.language.title' | translate}}</h3>
                        </div>
                        <div class="box-body">
                            <p>{{'settings.main.language.current' | translate}} {{'currentLanguage' | translate}}.</p>
                            <select ng-model="lang" class="form-control" aria-labelledby="languageSelect" ng-change="changeLanguage()">
                                <option value="enUS" role="presentation">English (US)</option>
                                <option value="enUK" role="presentation" disabled="disabled">English (UK)</option>
                                <option value="nlNL" role="presentation" disabled="disabled">Nederlands (NL)</option>
                                <option value="nlBE" role="presentation" disabled="disabled">Nederlands (BE)</option>
                                <option value="frFR" role="presentation" disabled="disabled">Fran&#231;ais (FR)</option>
                                <option value="frBE" role="presentation" disabled="disabled">Fran&#231;ais (BE)</option>
                                <option value="deDE" role="presentation" disabled="disabled">Deutsch</option>
                                <option value="itIT" role="presentation" disabled="disabled">Italiano</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{'settings.main.notifications.title' | translate}}</h3>
                        </div>
                        <div class="box-body">
                            <p>{{'settings.main.notifications.message' | translate}}</p>
                            <div class="callout callout-warning" ng-show="!hasNotiApi">
                                <h4>{{'settings.main.notifications.noAPI.title' | translate}}</h4>
                                {{'settings.main.notifications.noAPI.message' | translate}}
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="notifyToggle" ng-change="askPerms()" ng-disabled="!hasNotiApi">
                                        {{'settings.main.notifications.button' | translate}}
                                    </input>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="notifyTimeout">{{'settings.main.notifications.timeoutTitle' | translate}}</label>
                                <input type="number" class="form-control" ng-model="notifyTimeout" ng-change="updateTimeout()" ng-disabled="!hasNotiApi" id="notifyTimeout" placeholder="{{'settings.main.notifications.timeoutPlaceholder' | translate}}"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{'settings.main.2fa.title' | translate}}</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div ng-show="!TFAactivated">
                                            <h5><b>{{'settings.main.2fa.qrTitle' | translate}}:</h5></b>
                                            <qrcode version="4" error-correction-level="L" name="QRcode" size="166" data="{{QRdata}}" id="qr" ng-class="{blur: !showQR}"></qrcode>
                                            <h5><b>{{'settings.main.2fa.altKey' | translate}}:</b></h5>
                                            {{key}}
                                        </div>
                                        <label for="verifyCode">
                                            <h5><b>{{'settings.main.2fa.verificationTitle' | translate}}:</b></h5>
                                            <input type="text" class="form-control" name="verifyCode" mask="999-999" restrict="reject" ng-change="checkVerify()" ng-model="verifyCode"></input>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h5><b>{{'settings.main.2fa.status' | translate}} {{user.tfa}}</b></h5>
                                    <p>{{'settings.main.2fa.message' | translate}}</p>
                                    <div class="checkbox" ng-hide="TFAactivated">
                                        <label>
                                            <input type="checkbox" ng-model="showQR">
                                                {{'settings.main.2fa.show' | translate}}
                                            </input>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
