<section class="content-header">
    <h1>
        {{'settings.sessions.title' | translate | capitalize}}
    </h1>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class=""><a href="#mainSettings" data-toggle="tab" aria-expanded="true">{{'settings.main.title' | translate | capitalize}}</a></li>
            <li class=""><a href="#mailboxSettings" data-toggle="tab" aria-expanded="false">{{'settings.mailbox.title' | translate | capitalize}}</a></li>
            <li class="active"><a href="#sessionSettings" data-toggle="tab" aria-expanded="false">{{'settings.sessions.title' | translate | capitalize}}</a></li>
            <li class="" ng-if="user.group.permissions.indexOf('user.list') != -1">
                <a href="#userSettings" data-toggle="tab" aria-expanded="false">{{'settings.user.title' | translate | capitalize}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <b>{{'common.hello' | translate | capitalize}} {{user.firstName}} {{user.lastName}}!</b>
            <p>{{'settings.sessions.explanation' | translate}}</p>
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">{{'settings.sessions.boxTitle' | translate | capitalize}}</h3>
                    <div class="box-tools">
                        <a ng-click="reloadSessions()" title="Refresh"><i class="fa fa-refresh pointer"></i></a>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>{{'settings.sessions.tableTitles.os' | translate}}</th>
                                <th>{{'settings.sessions.tableTitles.browser' | translate}}</th>
                                <th>{{'settings.sessions.tableTitles.ip' | translate}}</th>
                                <th>{{'settings.sessions.tableTitles.idle' | translate}}</th>
                                <th>{{'settings.sessions.tableTitles.reads' | translate}}</th>
                                <th>{{'settings.sessions.tableTitles.writes' | translate}}</th>
                                <th>{{'settings.sessions.tableTitles.TFA' | translate}}</th>
                            </tr>
                            <tr ng-repeat="session in sessions">
                                <td><img ng-src="./dist/img/os/{{getOS(session.userAgent)}}.png" alt="{{getOS(session.userAgent)}}" /></td>
                                <td><img ng-src="./dist/img/browsers/{{getBrowser(session.userAgent)}}.png" alt="{{getBrowser(session.userAgent)}}" /></td>
                                <td>{{session.ip}}</td>
                                <td>{{session.idle}} {{'common.seconds' | translate}}</td>
                                <td>{{session.reads}}</td>
                                <td>{{session.writes}}</td>
                                <td ng-if="session.finishedTFA">{{'common.yes' | translate | capitalize}}</td>
                                <td ng-if="!session.finishedTFA">{{'common.no' | translate | capitalize}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
