<section class="content-header">
    <h1>
        {{'settings.user.title' | translate | capitalize}}
    </h1>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class=""><a href="#mainSettings" data-toggle="tab" aria-expanded="true">{{'settings.main.title' | translate | capitalize}}</a></li>
            <li class=""><a href="#mailboxSettings" data-toggle="tab" aria-expanded="false">{{'settings.mailbox.title' | translate | capitalize}}</a></li>
            <li class=""><a href="#sessionSettings" data-toggle="tab" aria-expanded="false">{{'settings.sessions.title' | translate | capitalize}}</a></li>
            <li class="active" ng-if="user.gorup.permissions.indexOf('user.list') != -1">
                <a href="#userSettings" data-toggle="tab" aria-expanded="false">{{'settings.user.title' | translate | capitalize}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <b>{{'common.hello' | translate | capitalize}} {{user.firstName}} {{user.lastName}}!</b>
            <p>{{'settings.user.explanation' | translate | capitalize}}</p>
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.user.list.title' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>{{'settings.user.list.username' | translate}}</th>
                                        <th>{{'settings.user.list.firstName' | translate}}</th>
                                        <th>{{'settings.user.list.lastName' | translate}}</th>
                                        <th>{{'settings.user.list.mailboxAmount' | translate}}</th>
                                        <th>{{'settings.user.list.tfa' | translate}}</th>
                                        <th>{{'settings.user.list.group' | translate}}</th>
                                        <th>{{'settings.user.list.changeGroup' | translate}}</th>
                                    </tr>
                                    <tr ng-repeat="userList in users">
                                        <td>{{userList.username}}</td>
                                        <td>{{userList.firstName}}</td>
                                        <td>{{userList.lastName}}</td>
                                        <td>{{userList.mailboxes.length}}</td>
                                        <td ng-if="userList.tfa == true">{{'common.enabled' | translate}}</td>
                                        <td ng-if="userList.tfa == false">{{'common.disabled' | translate}}</td>
                                        <td ng-init="getGroupName(userList.group)">{{groupNames[userList.group]}}</td>
                                        <td ng-if="user.group.permissions.indexOf('group.list') != -1 && user.group.permissions.indexOf('user.group.change') != -1">
                                            <select ng-model="newSelectGroup[userList._id]" ng-options="group.name for group in groups" ng-change="changeGroup(userList, userList.group)"></select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-danger" ng-show="user.group.permissions.indexOf('user.create') >= 0">
                        <div class="box-header">
                            <h3 class="box-title">{{'settings.user.create.title' | translate | capitalize}}</h3>
                        </div>
                        <div class="box-body">
                            <form role="form" ng-submit="createUser()">
                                <div class="form-group">
                                    <label for="username">{{'settings.user.create.username' | translate}}</label>
                                    <input type="text" class="form-control" id="username" ng-model="username" placeholder="{{'settings.user.create.username' | translate}}" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="firstName">{{'settings.user.create.firstName' | translate}}</label>
                                            <input type="text" class="form-control" id="firstName" ng-model="firstName" placeholder="{{'settings.user.create.firstName' | translate}}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="lastName">{{'settings.user.create.lastName' | translate}}</label>
                                            <input type="text" class="form-control" id="lastName" ng-model="lastName" placeholder="{{'settings.user.create.lastName' | translate}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="password">{{'settings.user.create.password' | translate}}</label>
                                            <input type="password" class="form-control" id="password" ng-model="password" placeholder="{{'settings.user.create.password' | translate}}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="repeatPassword">{{'settings.user.create.repeatPassword' | translate}}</label>
                                            <input type="password" class="form-control" id="repeatPassword" ng-model="repeatPassword" placeholder="{{'settings.user.create.repeatPassword' | translate}}" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger btn-block">{{'settings.mailbox.createMailbox.submit' | translate}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
